* {
  font-family: Montserrat, sans-serif;
}

.quantity {
  white-space: nowrap;
  padding: 0;
}
.quantity > input {
  margin-left: 5px;
}

.cancel {
  position: relative;
  right: 60px;
}

.container {
  max-width: 1140px;
}

h1 {
  font-weight: bold;
}
